*{padding:0;margin:0;list-style: none;}
.clear{+zoom:1;}
.clear:before,
.clear:after{clear:both;content:".";font-size:0;display:block;height:0;overflow:hidden;visibility:hidden;}
#page {width:640px;padding:0;}
#main {min-height: 800px;}
.icon{
	display: inline-block;
	width: 74px;
	height: 66px;
	background: url(../img/icons.png) no-repeat;
	vertical-align: middle;
}
.icon-back{
	background-position: 0 -80px;
	width: 42px;
	height: 42px;
}
.icon-right{
	background-position: 0 -140px;
	width: 42px;
	height: 42px;
}
.icon-sleft{
	background-color: white;
	background-position: 0 -300px;
	width: 60px;
	height: 90px;
}
.icon-sright{
	background-color: white;
	background-position: 15px -200px;
	width: 60px;
	height: 90px;
}
/** toploadn **/
.block-skin-tips-top{ position: relative;z-index: 4; color:#ef896f; font-size: 38px; height: 132px; text-align: center;line-height: 132px;}
.block-skin-tips-top img{vertical-align: middle;}
.block-skin-tips-opt{ position:relative; }

.block-skin-tips-step {width: 580px;margin: 0 auto;}
.block-skin-tips-imgwrap{background: #ccc url(../../img/test.jpg);background-size:100% 100%; position: relative;margin:0 auto ;width: 500px;height: 500px;}
.block-skin-tips-imgwrap svg{z-index: 0;display:none;background: #ccc;}
.block-skin-tips-imgwrap img{position: absolute;top:0;left:0;}
.block-skin-tips-imgwrap canvas{display: none;position: absolute;top: 0;left: 0;}

.block-skin-tips-btns{text-align: center; position: relative;z-index: 11;}
.block-skin-tips-btns button{border:0;font-size:30px;display:block;width: 500px; margin: 0 auto; border:0;background: url(../img/btn-bg.jpg); height: 90px;cursor: pointer;}

.block-skin-tips-btns button.btn-upload{position: relative; overflow: hidden;}
.block-skin-tips-btns button.btn-upload input[type="file"]{position: absolute;top:0; height: 100%;left:0; width: 100%;opacity: 0;}
.block-skin-tips-btns button.btn-rule{color:#808080; background: none; border: 1px solid #f58774; border-top: none;}
.block-skin-tips-btns.step2-btns , .block-skin-tips-btns.step3-btns{ display: none;margin-top: 90px;}
.block-skin-tips-btns.step2-btns button,.block-skin-tips-btns.step3-btns button{ color:white; display: inline-block; width: 250px;margin-left:38px;}
.block-skin-tips-btns.step2-btns button:first-child,.block-skin-tips-btns.step3-btns button:first-child{margin-left:0;margin-right: 38px;}
.block-skin-tips-btns.step2-btns button .icon,.block-skin-tips-btns.step3-btns button .icon{margin-right: 30px;}
.block-skin-tips-btns.step3-btns{margin-top: 30px;}
.block-skin-tips-btns.preview-btns button,.block-skin-tips-btns.preview-btns button{ color:white; display: inline-block; width: 250px;margin-left:38px;}
.block-skin-tips-btns.share-btns button,.block-skin-tips-btns.share-btns button{ color:white; display: inline-block; width: 250px;margin-left:38px;}

.block-skin-tips-btns.preview-btns, .block-skin-tips-btns.share-btns {margin-left:-42px;}

.block-skin-tips-bottom {text-align: center;margin-top:40px;}
.block-skin-tips-bottom-header {margin-bottom: 40px;}
.block-skin-tips-list {margin-left:39px;}
.block-skin-tips-list a{float: left;margin: 0 8px 17px;}
.block-skin-tips-list a img{display: block;}

.tip-wrap {display: none;background:url(../img/tip_img_bg.gif) repeat-x;font-size:28px;text-align: center;line-height:150%;padding:80px 0 20px 0;}
.tip_tit {margin:20px 0}
.tip_product {margin:20px 0 0;}
.tip_text1 {color:#f58774;}
.tip_header2 {border:1px solid #9e9e9e;border-left:none;border-right:none;margin:20px 20px;padding:10px 0;}

button.load_more{border:0;font-size:30px;display:block;width: 500px; margin: 0 auto; border:0;background: url(../img/btn-bg.jpg); height: 90px;cursor: pointer;color:#808080; background: none; border: 1px solid #f58774;}
.btn-back{border:0;font-size:30px;display:block;width: 500px; margin: 20px auto 0 auto; border:0;background: url(../img/btn-bg.jpg);line-height: 90px; height: 90px;text-decoration:none;cursor: pointer;color:#808080; background: none; border: 1px solid #f58774;}

	.imgwrap-opts {z-index: 10; position: absolute;width: 324px;height: 324px;top: 0;display: none;}
	.imgwrap-opts .top-left{position:absolute; top:-13px; left: -13px; width: 40px;height: 40px;background: url(../../img/opts.png) left top;}
	.imgwrap-opts .top-right{position:absolute; top:-13px; right: -17px; width: 40px;height: 40px;background: url(../../img/opts.png) right top;}
	.imgwrap-opts .top-center{position: absolute;
left: 27px;
top: -13px;
right: 23px;
height: 40px;
background: url(../../img/opts-top-bottom-bg.png) repeat-x 0 10px;}

	.imgwrap-opts .top-center:after{content: "";position: absolute; top:4px;width: 16px;height: 16px;left:50%;margin-left: -8px;background: url(../../img/opts-circle.png);}
	.imgwrap-opts .bottom-center:after{content: "";position: absolute; bottom: 4px; width: 16px;height: 16px;left:50%;margin-left: -8px;background: url(../../img/opts-circle.png);}
	.imgwrap-opts .middle-left:after{content: "";position: absolute; left:4px;width: 16px;height: 16px;top:50%;margin-top: -8px;background: url(../../img/opts-circle.png);}
	.imgwrap-opts .middle-right:after{content: "";position: absolute;right: 4px; width: 16px;height: 16px;top:50%;margin-top: -8px;background: url(../../img/opts-circle.png);}

	.imgwrap-opts .bottom-center{position: absolute;
bottom: -13px;
left: 27px;
right: 22px;
height: 40px;
background: url(../../img/opts-top-bottom-bg.png) repeat-x left 27px;}
	.imgwrap-opts .bottom-left{position: absolute;
bottom: -13px;
left: -13px;
width: 40px;
height: 40px;
background: url(../../img/opts.png) left bottom;}
	.imgwrap-opts .bottom-right{position: absolute;
bottom: -13px;
right: -17px;
width: 40px;
height: 40px;
background: url(../../img/opts.png) right bottom;}
	.imgwrap-opts .middle-center{position:absolute; bottom:0; left: 40px; right:40px; top: 40px; bottom:40px;background: url(../../img/opt-center.png) no-repeat center;}
	.imgwrap-opts .middle-left{position: absolute;
left: -13px;
width: 40px;
top: 25px;
bottom: 27px;
background: url(../../img/opts-left-right-bg.png) repeat-y 10px top;}
	.imgwrap-opts .middle-right{position: absolute;
right: -13px;
width: 40px;
top: 25px;
bottom: 27px;
background: url(../../img/opts-left-right-bg.png) repeat-y 27px top;}



.block-skin-tips-step .mouths-wrap{
	
	height: 114px;
	padding: 0 60px;
	margin: 0 -20px;
	margin-top: 30px;
	position: relative;
	display: none;
	overflow: hidden;
}
.block-skin-tips-step .mouths-wrap .icon{
	position: absolute;
	top: 12px;
	left: 0px;
}
.block-skin-tips-step .mouths-wrap .icon.icon-sright{
	left: auto;
	right: 0px;
}

.block-skin-tips-step .mouths{
	
}
.block-skin-tips-step .mouths li{
	width: 125px;
	height: 125px;
	line-height: 90px;
	text-align: center;
	font-size: 0;
	float: left;
}
.block-skin-tips-step .mouths li img{
	vertical-align: middle;
}

.mouth-opts{
	position: absolute;
	border: 1px solid #FFF;
	width: 65px;
	height: 65px;
	display: none;
	box-shadow: 0px 1px 2px #919191;
}
.mouth-opts .mouth-opts-close,
.mouth-opts .mouth-opts-drag{
	width: 25px;
	height: 25px;
	background: url(../../img/mouth-opt.png) no-repeat;
	position: absolute;
	top: -12px;
	left: -12px;
}
.mouth-opts .mouth-opts-drag{
    width:50px;height:50px;
	background-position: -25px 13px;
	top: auto;
	left: auto;
	bottom: -23px;
	right: -19px;
}

.block-skin-tips-flash {width:970px;position: relative;}
.block-skin-tips-flash .btn-rule {position:absolute;top:517px;right:258px;background: url(../img/btns.png) no-repeat -307px 0;width:140px;height:60px;border:none;}


.skin-overlay {background:rgba(0,0,0,0.1);position: fixed;width:100%;height:100%;left:0;top:0;}
.skin-pop {position: fixed;width:700px;height:450px;top:50%;left:50%;margin-left:-350px;margin-top:-125px;}
.skin-pop-close {float:right;background:url(../img/pop-close.gif) no-repeat;width:32px;height:32px;}
.skin-pop-conent {clear:both;background:#fff;border-bottom:20px solid #fff;border-top:20px solid #fff;word-wrap: break-word; word-break: break-all;color:#7d7d7d;padding:20px;line-height:150%;font-size:26px;height:500px;overflow: scroll;}
.skin-pop-conent h4 {margin:0 0 10px 0;text-align: center;color:#f69382;font-size:30px;}
.skin-pop-conent label {color:#f69382;}
.skin-pop-conent .p {margin:0 0 10px 0;}
.skin-pop-conent li {background: url(../img/bullet.gif) no-repeat 0 8px;padding:0 0 0 10px;}


.block-skin-tips-preview, .block-skin-tips-share {display: none;}

.preview-player, .preview-img {text-align: center;}

.preview-btns {margin-top:80px;}

.share-sina {width:390px;margin:30px auto 30px auto;height:105px;}
.share-sina label {background:url(../img/share_sina_label.png) no-repeat;float:left;width:180px;height:35px;margin-top:23px;text-indent:-9999em;}
.share-sina .sharelink {background:url(../img/share_sina_icon.png) no-repeat;float:left;width:90px;height:88px;}

.loading {display:none;position: fixed;top:0;left:0;z-index:999;background:rgba(255,255,255,0.8) url(../img/loading.gif) no-repeat center;width: 100%;height:100%;}

.skin-overlay {display:none;background:rgba(0,0,0,0.1);position: fixed;width:100%;height:100%;left:0;top:0;z-index:900;}
.skin-pop {display:none;position: fixed;width:600px;height:560px;top:50%;left:50%;margin-left:-300px;margin-top:-270px;z-index:901;}
.skin-pop-close {float:right;background:url(../img/pop-close.gif) no-repeat;width:57px;height:57px;}

#skin-pop-video {z-index:999;width:520px;height:520px;margin:-260px 0 0 -260px;}
#skin-pop-video .skin-pop-conent {padding:10px;width:500px;}

.tips-view-page {text-align: center;}

.btn {cursor: pointer;}